body {
    font-size: 2rem;
    width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    height: 100px;
    text-align: center;
}
div#main {
    display: flex;
    flex: 1;
}
main {
    flex: 1;
}
footer {
    height: 100px;
}

#contents1{
    display: flex;
    text-align: center;
    align-items: center;
    line-height: 4;
}
#start{
    margin-right: 0.2em;
}
#stop{
    margin-right: 0.2em;
}
#freqArea{
    flex: 1;
}
#contents2{
    display: flex;
    text-align: center;
    align-items: center;
}
#scaleArea{
    text-align: center;
    font-size: 340%;
    flex: 1;
}
#lowerArea{
    flex: 1;
}
#higherArea{
    flex: 1;
}

button {
    padding: 0.5em 1em;
    border-width: 0;
    border-radius: 0.25em;
    font-size: 1em;
    background-color: #dfdfdf;
    color: #333;
}
button[disabled] {
    color: #aaa;
}